body{
    background-color: #FF82C1;
    color: black
}
h1{
    font-family: 'Times New Roman', Times, serif;    
}
header{
    text-align: center;
    background-color: #E37A4C;
    border-color: white;
    border-style: solid;
}
nav{
    text-align: center;
}
#edit{
    text-align: center;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
#active{
    color: orange;
}
.carousel-inner {
    text-align: center;
}
.carousel .item > img {
    display: inline-block;
}
.carousel .carousel-caption {
    color: black;
    font-weight: bold;
}